body {
    background-color: #416788;
    
}

h1 {
    color: #53DD6C;
    font-size:70px;

}
header {
    color:#f1f5f5;
   text-align: center; 
  font: normal ;
  font-size:30px;

}


section {
    background:#F95738;
    border-radius: 10px;    /* borda*/
    padding: 15px; 
    width: 70%; 
    height: 101%;
    margin: auto;
    box-shadow: 3px 3px 10px  rgb(27, 27, 27);
    text-align: center;
}
select#flista {
    width: 100%;     /* tamanho */
    float: left;    /*  centralização. */
    font-size: 33px;
}
    

